body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #000000;
    background-color: #af8b83;
  }
  h1,h2{
    text-align: center;
    color: #2a9d97;
    margin-top: 20px;
  }
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 1.8rem;
  }
  p{
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.8;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  .container{
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  @media(max-width:768px){
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.5rem;
    }
    p{
      font-size: 0.9rem;
    }
    .container{
      padding: 15px;
      margin: 10px;
    }
  }
  @media(max-width:480px){
    h1{
      font-size: 1.8rem;
    }
    h2{
      font-size: 1.3rem;
    }
    p{
      font-size: 0.8rem;
    }
    .container{
      padding: 10px;
      margin: 5px;
    }
  }
  